<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.mis.pos629.mapper.ProductMapper">
    <resultMap type="ProductDescription" id="productResultMap">
        <id property="productId"    column="product_id"    />
        <result property="productSn"    column="product_sn"    />
        <result property="categoryId"    column="category_id"    />
        <result property="productName"    column="product_name"    />
        <result property="price"    column="price"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="category"    column="category_id" javaType="Category" resultMap="categoryResultMap" />
    </resultMap>

    <resultMap id="categoryResultMap" type="Category">
        <id property="categoryId" column="category_id"></id>
        <result property="categoryName" column="category_name"></result>
    </resultMap>


    <!--  根据编号查产品  -->
    <select id="getProductBySn" parameterType="String" resultMap="productResultMap">
        SELECT p.product_id,p.product_sn,p.product_name,p.price,p.create_time,p.category_id,
        c.category_id,c.category_name
        FROM pos_product p
        LEFT JOIN pos_category c ON p.category_id = c.category_id
        WHERE p.product_sn = #{productSn}
    </select>
    <!-- 查询所有产品 -->
    <select id="listAllProduct" resultMap="productResultMap">
        SELECT p.product_id,p.product_sn,p.product_name,p.price,p.create_time,p.category_id,
        c.category_id,c.category_name
        FROM pos_product p
        LEFT JOIN pos_category c ON p.category_id = c.category_id
    </select>
    <!--查询单个产品-->
    <select id="selectProductById" parameterType="Long" resultMap="productResultMap">
        SELECT p.product_id,p.product_sn,p.product_name,p.price,p.create_time,p.category_id,
        c.category_id,c.category_name
        FROM pos_product p
        LEFT JOIN pos_category c ON p.category_id = c.category_id
        WHERE p.product_id = #{productId}
    </select>
    <!-- 查询产品列表   -->
    <select id="selectProductList" parameterType="ProductDescription" resultMap="productResultMap">
        SELECT p.product_id,p.product_sn,p.product_name,p.price,p.create_time,p.category_id,
        c.category_id,c.category_name
        FROM pos_product p
        LEFT JOIN pos_category c ON p.category_id = c.category_id
        <where>
            <if test="productSn != null  and productSn != ''"> and p.product_sn = #{productSn}</if>
            <if test="productName != null  and productName != ''"> and p.product_name like concat('%', #{productName}, '%')</if>
            <if test="categoryId != null  and  categoryId != ''"> and p.category_id = #{categoryId}</if>
        </where>
        ORDER BY p.product_id ASC
    </select>
    <!--  新增产品  -->
    <insert id="insertProduct" parameterType="ProductDescription" useGeneratedKeys="true" keyProperty="productId">
        insert into pos_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productSn != null">product_sn,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="price != null">price,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productSn != null">#{productSn},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="price != null">#{price},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <!--  修改产品  -->
    <update id="updateProduct" parameterType="ProductDescription">
        update pos_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productSn != null">product_sn = #{productSn},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="price != null">price = #{price},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where product_id = #{productId}
    </update>
    <!--  删除产品  -->
    <delete id="deleteProductById" parameterType="Long">
        delete from pos_product where product_id = #{productId}
    </delete>
</mapper>